@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Oleo+Script&display=swap');

/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFDDD2;
    font-family: 'Noto Serif', serif;
    color: rgb(11, 45, 194);
}



#my-avatar{
    width: 150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}

#my-name {
    font-family: 'Oleo Script', cursive;;
    color: #F06292
}

#left-side {
    width: 50%;
    display: inline-block;
    padding: 1rem;
}

#rigth-side {
    width: 49%;
    display: inline-block;
    text-align: right;
    padding: 1rem;
}

a {
    color: #F06292;
    text-decoration: none;
    border-bottom: 1px dotted #F06292;
}

header {
    margin-top: 16px;
}

.nav-link {
    margin-top: 8px;
    margin-left: 8px;
}

